<!--**************** Pie de página ******************/-->
<footer id="piePag">
    <div id="telSlim">
        <button id="telcel"></button>
        <button id="slim"></button>
    </div>
    <div id="final">
        <pre>2021 WIntermex. Todos los derechos reservados. De Lira Mata Isacc Alberto.</pre>
        <a href="#">Aviso de privacidad</a> |
        <a href="#">Contrato Marco de prestación de servicios</a> |
        <a href="#">Oferta de servicios Mayoristas</a> |
        <a href="#">Contrato Marco y Términos en formato audible</a> |
        <a href="#">Colaboración con justicia</a> |
        <a href="#">Mapa de sitio</a> 
    </div>
  </footer>