<!--*************** APP Y REDES ********************-->
<section class="apps">
    <div id="redes">
        <p>¡Descarga la app! </p>
        <button id="btn1" onclick="location.href='https://play.google.com/store/apps/details?id=com.telmex.mitelmex'"></button>
        <button id="btn2" onclick="location.href='https://apps.apple.com/mx/app/telmex/id1135440722'"></button>
    </div>
    <div id="redes">
        <p>Síguenos:</p>
        <a href="https://es-la.facebook.com/" class="fa fa-facebook" target="_blank">F</a>
        <a href="https://twitter.com/?lang=es" class="fa fa-twitter" target="_blank">T</a>
        <a href="https://www.youtube.com/user/telmex" class="fa fa-youtube" target="_blank">Y</a>
    </div>
</section>
