<section>
        <div class="imgBtn">
            <img  [src]="'assets/img/drive.jpg'" style="width:100%">
            <div class="text">
                <p>Ahora desde <span id="anuncio">75 GB SIN COSTO*</span></p>
                <p>en tu Paquete Infinitum</p>
                <button id="activar">Actívalo Ahora</button>
            </div>
        </div>
        
        <div class="imgBtn">
            <img  [src]="'assets/img/covid.jpg'" style="width:100%">
            <div class="text">
                <p id="covid">INFORMACIÓN</p>
                <p id="covid">SOBRE COVID-19</p>
                <button id="activar">Consulta</button>
            </div>
        </div>

        <div class="imgBtn">
            <img  [src]="'assets/img/netflix.jpg'" style="width:100%">
            <div class="text">
                <img  [src]="'assets/img/oferta.png'" alt="" id="oferta">
                <button id="activar">Contrata ahora</button>
            </div>
        </div>
</section>

