<section class="dudas" id="dudas">
    <div id="msg">
        <p>¡Juntos encontraremos la solución a tus dudas!</p>
    </div>
    <div  id="op">
        <p id="cat"> <i class="fas fa-search"></i> Lo más visto</p>
            <pre><a href="#">Claro video
Pago de Recibo
Consulta de Recibo</a></pre>
    </div>
    <div id="op">
        <p id="cat"><i class="far fa-lightbulb"></i> Guías y Manuales</p>
        <pre><a href="#">Encuentra manuales, guías, 
artículos y preguntas frecuentes</a></pre>
    </div>
    <div id="op">
        <p id="cat"><i class='fas fa-comments'></i> Contáctanos</p>
        <pre><a href="#">Nuestros asesores están
capacitados para atender tus dudas</a></pre>
    </div>
</section>